<div class="comments">
  {{#each this}}
  <section class="comment card">
    <h3 class="card-header"></h3>
    
    <div class="text">
      {{comment_text}}
    </div>
    <div class="meta">
      -{{user.username}} , {{format_date created_at}}
    </div>

  </section>
  {{/each}}
</div>