<div class="card">
  <h3 class="card-header">Login</h3>
  <form class="login-form card-body">
    
      <label for="username-login" class="form-label">Username:</label>
      <input class="form-input" type="text" id="username-login" />
    
    
      <label for="password-login" class="form-label">Password:</label>
      <input class="form-input" type="password" id="password-login" />
    
    
      <button type="submit" class="btn">Login!</button>
    
    <a class="login-signup-link" href="/signup">Sign up instead</a>
  </form>
</div>

<script src="/javascript/login.js"></script>