{{> post-info post}}

{{#if loggedIn}}
<div class="card">
  <div class="card-header"></div>
  <form class="comment-form card-body">
    
    <h4>Comment</h4>
    <textarea name="comment-body" class="form-input"></textarea>
    

    <div>
      <button type="submit" class="btn">Submit</button>
      
    </div>
  </form>
</div>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}